body{
  margin: 0px;
  font-family: sans-serif;
  background-color: black;
  font-size: 12px;
  color: lightgray;
}

body p{
  margin: 0px;
  padding: 5px 0px;
}

#header{
  position: fixed;
  width: 100%;
  background-color: hsl(0, 0%, 20%);
  padding: 20px;
}
#flex-header{
  display: flex;
}
h1{
  display: inline-block;
  font-size: 1.1rem;
  margin: 0px 0px;
  font-family: sans-serif;
  color: lightgray;
}
#day-info-0 .date-heading{
  font-size: 1.5rem;
}
#info-box{
  display: inline-block;
  min-height: 30px;
}
.day-info{
  color: lightgray;
  margin-bottom: 10px
}
.date-heading{
  font-size: 1.2rem;
  font-weight: 100;
}
#container{
  padding-top: 200px;
  justify-content: flex-start;
  flex-wrap: wrap;
  display: flex;
}
#svg-wrapper circle, #svg-wrapper text{
  cursor: pointer
}
.daynode{
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  padding: 5px;
  min-width: 40px;
  max-width: 45px;
  height: 40px;
  flex-grow: 1;
  margin: 1px;
  background-color: hsl(0, 0%, 90%);
  border-radius: 50%;
  color: white;
}

#day-node:hover{
  stroke-width: 1;
  stroke: white; 
}
.daynode div.day-name{
  display: none;
  font-size: 8px;
}
.daynode div.day-date{
  font-size: 20px;
}
.daynode div.month-name{
  font-size: 15px;
}
.today{
  fill: white !important;
}
.text-today{
  fill: black;
}
.text-otherday{
  fill: white;
}
.today:hover{
  fill: yellow !important;
  
}
.weekday-Sunday{
  font-weight: bold;
}
.weekday-Monday{}

.weekday-Tueday{}

.weekday-Wednesday{}

.weekday-Thursday{}

.weekday-Friday{}

.weekday-Saturday{
  font-weight: bold;
}

.month-1{
  background-color:hsl(230, 100%, 70%);
  fill:hsl(230, 100%, 70%);
}
.month-2{
  background-color:hsl(200, 100%, 50%);
  fill:hsl(200, 100%, 50%);
}
.month-3{
  background-color:hsl(150, 100%, 30%);
  fill:hsl(150, 100%, 30%);
}
.month-4{
  background-color:hsl(80, 100%, 40%);
  fill:hsl(80, 100%, 40%);
}
.month-5{
  background-color:hsl(90, 100%, 25%);
  fill:hsl(90, 100%, 25%);
}
.month-6{
  background-color:hsl(45, 100%, 50%);
  fill:hsl(45, 100%, 50%);
}
.month-7{
  background-color:hsl(30, 100%, 50%);
  fill:hsl(30, 100%, 50%);
}
.month-8{
  background-color:hsl(0, 100%, 50%);
  fill:hsl(0, 100%, 50%);
}
.month-9{
  background-color:hsl(20, 100%, 60%);
  fill:hsl(20, 100%, 60%);
}
.month-10{
  background-color:hsl(30, 100%, 35%);
  fill:hsl(30, 100%, 35%);
}
.month-11{
  background-color:hsl(240, 100%, 60%);
  fill:hsl(240, 100%, 60%);
}
.month-12{
  background-color:hsl(200, 100%, 60%);
  fill:hsl(200, 100%, 60%);
}
.monthfont-1{
  color:hsl(230, 100%, 70%);
}
.monthfont-2{
  color:hsl(200, 100%, 50%);
}
.monthfont-3{
  color:hsl(150, 100%, 30%);
}
.monthfont-4{
  color:hsl(80, 100%, 40%);
}
.monthfont-5{
  color:hsl(90, 100%, 25%);
}
.monthfont-6{
  color:hsl(45, 100%, 50%);
}
.monthfont-7{
  color:hsl(30, 100%, 50%);
}
.monthfont-8{
  color:hsl(0, 100%, 50%);
}
.monthfont-9{
  color:hsl(20, 100%, 60%);
}
.monthfont-10{
  color:hsl(30, 100%, 35%);
}
.monthfont-11{
  color:hsl(240, 100%, 60%);
}
.monthfont-12{
  color:hsl(200, 100%, 60%);
}